/*MEDIA QUERIES PARA DISPOSITIVOS MOVEIS*/

@media(max-width: 426px) {
    /*CSS NAVE BAR MOBILE*/

    body{
        overflow-x: hidden;
    }
    .menu-hamburger div {
        z-index: 1;
        display: block;
        transition: 0.5s ease-in;
    }
    .nav-list {
        
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width:100vw;
        background: #fde74c;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        transition: ease-in 0.5s;
        transform: translateX(100%);
        padding: 0;
        margin: 0;
    }
    .nav-list li a {
        color: #000;
    }
    .nav-list li a:hover::after {
        background-color: #000;
    }
    #checkbox:checked~.nav-list {
        transform: translateX(0);
    }
    #checkbox:checked~#btnCheck .menu-hamburger {
        position: relative;
        top: 20px;
    }
    #checkbox:checked~#btnCheck .menu-hamburger div {
        background-color: #000;
    }
    #checkbox:checked~#btnCheck .menu-hamburger .linha1 {
        position: relative;
        top: 1px;
        transform: rotate(220deg);
    }
    #checkbox:checked~#btnCheck .menu-hamburger .linha2 {
        position: relative;
        bottom: 10px;
        transform: rotate(220deg);
    }
    #checkbox:checked~#btnCheck .menu-hamburger .linha3 {
        position: relative;
        bottom: 22px;
        height: 4px;
        border-radius: 10px;
        top: 100%;
        transform: rotate(-220deg);
    }

    .container{
        flex-direction: column;
    }

    .box{
        text-align: center;
    }

    nav{
      background-color: transparent;
      position: static;
    }

}

@media(max-width: 768px){
    img{
        width: 250px;
        height: 250px;
     
    }
}