@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
*/RESET CSS*/ * {
    margin: 0;
    padding: 0;
}

a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}

body {
    background-color: #2d3436;
    background-image: linear-gradient(255deg, #2d3436 0%, #000000 74%);
}

.logo {
    height: 100px;
    width: 250px;
    background-position: 0 10px;
    background-image: url(../media/LogoPortfolioNavebarDesktopSemFundo.png);
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0%;
    left: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
}

.nav-list {
    display: flex;
    list-style: none;
}

.nav-list li {
    margin-left: 30px;
    letter-spacing: 5px;
    color: #fff;
}

.nav-list li a {
    font-size: 20px;
    font-weight: 900;
}


/*MENU HAMBURGER*/

#checkbox {
    display: none;
}

.menu-hamburger {
    cursor: pointer;
}

.menu-hamburger div {
    width: 35px;
    border-radius: 10px;
    height: 3px;
    margin: 9px;
    background-color: #fff;
    display: none;
}


/*ANIMAÇÃO DOS LINKS DE NAVEGAÇÃO*/

.nav-list li a::after {
    content: '';
    display: block;
    width: 0%;
    margin-top: 5px;
    height: 2px;
    background: #fff;
    transition: width .5s;
}

.nav-list li a:hover::after {
    width: 100%;
    background-color: #fff;
}