@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&display=swap');

*/RESET CSS*/ 

html,body{
    overflow-x: hidden !important;
    color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}


body {
    background-color: #0D0221;
}

hr {
    border: 0;
    height: 1px;
    background: #f0f0f0;
    width: 80%;
    margin: 0 auto;
}

/* BARRA DE SCROLL ESTILIZAÇÃO */
::-webkit-scrollbar {
    width: 8px;
}

/* Thumb */
::-webkit-scrollbar-thumb {
    background-color: #a7a7a7;
    border-radius: 8px;
}

/* Thumb on hover */
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #f5f5f5;
    border-radius: 8px;
}

/* Track quando hover */
::-webkit-scrollbar-track:hover {
    background-color: #e5e5e5;
}



/*CSS NAVE, LOGO */

.logo{
    width: 100px;
    height: 100px;
    background: url(../media/LogoPortfolioMobileSemFundoPequena.png) no-repeat;
}

.icon{
    display: none;
    
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px 0 0 0;
   
}

nav.nav-links{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul{
    display: flex;
    gap: 25px;
}

nav ul li{
    list-style: none;
}

nav ul li a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-decoration: none;
}       





/*CONTAINER, BOX , IMG*/

.container {
    display: flex;
    place-items: center;
    place-content: center;
    padding: 20px;
    height: 100vh;
}

.box {
    color: #fff;
    font-family: 'Raleway', sans-serif;

    text-align: left;
}

.box h1 {
    margin: 0;
    font-size: 55px;
    letter-spacing: 2px;
}

.box h2 {
    margin: 0;
    letter-spacing: 8px;
    color: yellow;
}

.box p {
    margin: 0;
}

img {
    width: 450px;
    height: 450px;

}

/*BOTOES REDE SOCIAL E ANIMAÇÃO*/

.btnSocial {
    display: inline-block;
    border: 1px solid #fff;
    margin-top: 20px;
    position: relative;
    padding: 10px 20px;
    border-radius: 5px;
    font-family: 'Quicksand', sans-serif;
    color: #fff;
    font-size: 20px;
    text-decoration: none;
}

.btnSocial::before {
    position: absolute;
    content: "";
    background: #fff;
    transition-duration: 0.3s;
    z-index: -1;
    inset: 0px auto auto 0px;
    width: 0px;
    height: 100%;
    opacity: 1;
}


.btnSocial:hover::before {
    width: 100%;
    height: 100%;
    opacity: 1;
}


.btnSocial:hover {
    color: #000;
    background: #fff;
    transition: color 0.3s ease 0s, 0s ease 0.3s;
}





